:root {
  font-size: 20px;
}

body {
  font-family: 'Lato', 'Arial', sans-serif;
  font-size: 1rem;
  margin: 3em auto 3em auto;
  max-width: 60ch;
  line-height: 1.5em;
}

img {
  width: 100%;
  object-fit: cover;
}

p {
  column-count: 2;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Quicksand', sans-serif;
}

h1 {
  font-size: 2rem;
}